
body {
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: ivory;
  color:black;
  transition: 1s;
}

.container {
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#num-input {
  font-size: x-large;
  width: 100px;
}
#text-input {
  font-size: x-large;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid brown;
  padding: 20px;
  width: 90%;
}

#text-output {
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
img {
  width: 200px;
  box-shadow: 1px 1px 5px 1px;
}

.hidden {
  display: none;
}

#fav_color {
  display: flex;
  justify-content: space-around;
}
label {
  margin-right: 20px;
}

#back_color {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#color {
  width: 100px;
  height: 100px;
}

#red {
  display: inline;
  color: red;
}

.sr-only {
  opacity: 0;         /* hide it visually */
  z-index: -1;        /* avoid unintended clicks */
  position: absolute; /* don't affect other elements positioning */
}